

Body{
  color: rgb(165, 11, 157);
  background-color: rgb(57, 233, 174);
}
header{
   border:solid 7px rgb(20, 20, 163) ;
   padding: 20px;
   font-size: 32px;
   color:rgb(20, 20, 163) ;
}

section{
    background-color: aqua;
    padding-bottom:80px;
    padding-top: 80px;
    justify-content: center;
}

.chamada-texto{
    margin-right:20px ;
}

h1{
  font-size:40px;
}

p{
  font-size:20px;
}

img {
  height: 200px;
}.categoria-videos {
  display: flex;

} 
.categoria-videos {
  display: flex;
  overflow-x: auto;
 categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;

 section {
  padding-left: 20px;
  padding-right: 20px;

}.categoria-videos img{  
    opacity: 0.5;
 height: 200px;
}
.categoria-videos img:hover {
.categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
}border: 1px solid green;
}
.categoria-videos img:hover {
    opacity: 1.0;
}.categoria-videos img:hover {
    opacity: 1.0;
}
.categoria h2 {
.categoria h2 {
    color: rgb(42, 122, 228);
}.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
}body {
  color: white;
  background: black;
  margin: 0px;
  font-family: "Chakra Petch", sans-serif;
  margin-bottom: 100px;
}










